<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>

    <body>
        <header>
        </header>
        <nav>
            <h1>Snippetbox! ✂️</h1>
            <a href="/">Home 🎲</a>
            <a href="/create">Create 🖊️</a>
            <a href="/about">About 🛈</a>
        </nav>
        <main>
            <section class="center">
                <h1 class="headline-h1">About Big Mike! 🤓</h1>
                <br><br>
            </section>
            <section class="grid-container">
                <figure>
                    <img src="../static/img/Big_Mike.jpg" alt="Big Mike" width="320px">
                    <figcaption>Big Mike! 😎</figcaption>
                </figure>
                <figure>
                    <img src="../static/img/Rock_Springs.jpg" alt="Rock Springs" width="320px">
                    <figcaption>Rock Springs. 🏞️</figcaption>
                </figure>
                <figure>
                    <img src="../static/img/Bull_Elk_RS.jpg" alt="Bull Elk" width="320px">
                    <figcaption>Wyoming Elk. 🦌</figcaption>
                </figure>
            </section>
        </main>
        <footer>
            <p>Powered by <a href='https://golang.org/'>Go 🚲</a></p>
        </footer>
    </body>

</html>

