<!-- edit.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Edit</title>
</head>

<body>
    <nav>
        <h1>Snippetbox! ✂️</h1>
        <a href="/">Home 🎲</a>
        <a href="/create">Create 🖊️</a>
        <a href="/about">About 🛈</a>
    </nav>
    <main>
        <section class="center">
            <h1 class="headline-h1">Edit Snippet! ✏️</h1>
            <br><br>
        </section>
        <section>
            <form class="create-edit-container" action='/update' method='POST'>
                <div>
                    <input type="hidden" name="id" value="{{ .Id }}">
                    <label>Title:</label>
                    <input type='text' name='title' value="{{ .Title }}">
                    <br>
                    <label>Author:</label>
                    <input type="text" name="author" value="{{ .Author}}">
                    <br><br>
                    <input class="form-button" type="submit" value="Update Snippet">
                </div>
                <div>
                    <label>First Line:</label>
                    <input type="text" name="firstline" value="{{ .FirstLine}}">
                    <br>
                    <label>Second Line:</label>
                    <input type="text" name="secondline" value="{{ .SecondLine}}">
                    <br>
                    <label>Third Line:</label>
                    <input type="text" name="thirdline" value="{{ .ThirdLine}}">
                </div>
            </form>
        </section>
    </main>
</body>

</html>