<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/jpg" rel="shortcut icon">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <header>
        <img id="logo" src="/static/images/Go_Logo_Green.png">
        <b>About Big Mike! 😎</b>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home 🏠</a></li>
            <li><a href="/about">About 🛈</a></li>
        </ul>
    </nav>
    <main>
        <section class="grid-container">
            <figure>
                <img src="/static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
                <figcaption>Another day at work. 👷</figcaption>
            </figure>
            <figure>
                <img src="/static/images/Hamer_Idaho.jpg" alt="Hamer, Idaho" width="320px">
                <figcaption>CubeIt. Hamer, Idaho 🐴</figcaption>
            </figure>
        </section>
    </main>
</body>

</html>