<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/jpg" rel="shortcut icon">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <img id="logo" src="/static/images/Go_Logo_Green.png">
        <b>📚 Big Mike's Favorite Books! 📚</b>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home 🏠</a></li>
            <li><a href="/about">About 🛈</a></li>
        </ul>
    </nav>
    <main>
        <section class="grid-container">
            <div>
                <form method="POST" action="/">
                    <label class="label-text" for="id">Id:</label>
                    <input class="text-area" type="text" name="id"><br><br>
                    <label class="label-text" for="year">Year:</label>
                    <input class="text-area" type="text" name="year"><br><br>
                    <label class="label-text" for="author">Author:</label>
                    <input class="text-area" type="text" name="author"><br><br>
                    <label class="label-text" for="title">Title:</label>
                    <input class="text-area" type="text" name="title"><br><br>
                    <input class="button" type="submit" name="submit" value="Insert">
                    <input class="button" type="submit" name="submit" value="Read">
                    <input class="button" type="submit" name="submit" value="Update">
                    <input class="button" type="submit" name="submit" value="Delete">
                </form>
            </div>
            <div>
                <table class="center">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Year</th>
                            <th>Author</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Id}}</td>
                            <td>{{.Year}}</td>
                            <td>{{.Author}}</td>
                            <td>{{.Title}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>

</html>