<!-- edit.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Edit</title>
</head>

<body>
    <header>
    </header>
    <nav>
        <h1>Runners of the World! ⚡</h1>
        <a href="/">Home 🏟️</a>
        <a href="/add">Add 🖊️</a>
        <a href="/about">About ℹ️</a>
    </nav>
    <main>
        <section class="center">
            <h1 class="headline-h1">Edit Entry 🖊️</h1>
            <br>
        </section>
        <section>
            <div>
                <form class="add-edit-container" action='/update' method='POST'>
                    <section>
                        <input type="hidden" name="id" value="{{ .Id }}">
                        <div><span>Name: </span>
                            <input type="text" name="name" value="{{ .Name }}">
                        </div>
                        <div><span>Age: </span>
                            <input type="text" name="age" value="{{ .Age }}">
                        </div>
                        <div><span>Country: </span>
                            <input type="text" name="country" value="{{ .Country }}">
                        </div>
                    </section>
                    <section>
                        <div><span>Season Best: </span>
                            <input type="text" name="season_best" value="{{ .SeasonBest }}">
                        </div>
                        <div><span>Personal Best: </span>
                            <input type="text" name="personal_best" value="{{ .PersonalBest }}">
                        </div>
                        <br>
                        <input class="form-button" type="submit" value="Update Entry">
                    </section>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>Powered by <a href='https://golang.org/'>Go 🚲</a></p>
    </footer>
</body>

</html>
