<!-- view.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>View</title>
</head>

<body>
    <header>
    </header>
    <nav>
        <h1>Runners of the World! ⚡</h1>
        <a href="/">Home 🏟️</a>
        <a href="/add">Add 🖊️</a>
        <a href="/about">About ℹ️</a>
    </nav>
    <main>
        <section class="flex-container">
            <h1 class="headline-h1"><strong><em>{{ .Name }}...</em></strong></h1>
            <br>
            <div>
                <table class="center">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Country</th>
                            <th>Season Best</th>
                            <th>Personal Best</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ .Id }}</td>
                            <td>{{ .Name }}</a></td>
                            <td>{{ .Age }}</td>
                            <td>{{ .Country }}</td>
                            <td>{{ .SeasonBest }}</td>
                            <td>{{ .PersonalBest }}</td>
                            <td><a class="button" href="/edit?id={{ .Id }}">Edit</a></td>
                            <td><a class="button" href="/delete?id={{ .Id }}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <a class="button" href="/">⬅️ Back</a>
            </div>
        </section>
    </main>
    <footer>
        <p>Powered by <a href='https://golang.org/'>Go 🚲</a></p>
    </footer>
</body>

</html>
