<!-- about.html -->

{{define "title"}}About{{end}}

{{define "content"}}
<section class="center">
    <h1 class="headline-h1">About Go Webapp! 💾</h1>
    <br><br>
</section>
<section class="grid-container">
    <figure>
        <img src="../static/images/Image.png" alt="Image One" height="240px">
        <figcaption>Image One</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Image.png" alt="Image Two" height="240px">
        <figcaption>Image Two</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Image.png" alt="Image Three" height="240px">
        <figcaption>Image Three</figcaption>
    </figure>
</section>
{{end}}
