
<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>

    <body>
        <header>
        </header>
        <nav>
            <h1>The Novel Nook! 📚</h1>
            <a href="/">Home 🏬</a>
            <a href="/add">Add 📖</a>
            <a href="/about">About ℹ️</a>
        </nav>
        <main>
            <section class="center">
                <h1 class="headline-h1">About Big Mike! 🧔</h1>
                <br><br>
            </section>
            <section class="grid-container">
                <figure>
                    <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="360px">
                    <figcaption>Big Mike! 😎</figcaption>
                </figure>
                <figure>
                    <img src="../static/images/Malad_Idaho.jpg" alt="Malad, Idaho" width="360px">
                    <figcaption>Malad, Idaho. 🏠</figcaption>
                </figure>
            </section>
        </main>
        <footer>
            <p>Powered by <a href='https://golang.org/'>Go 🚲</a></p>
        </footer>
    </body>

</html>