<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/CSS/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <header>
        <a href="/">Home 🏠</a>
        <h1>Big Mike's Website! 🌐</h1>
        <a href="/about">About ℹ️</a>
    </header>
    <main>
        <section class="center">
            <h1>About Big Mike! 🤓</h1>
            <br><br>
        </section>
        <section class="grid-container">
            <figure>
                <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
                <figcaption>Big Mike 😎</figcaption>
            </figure>
            <figure>
                <img src="../static/images/Welcome_To_Utah.jpg" alt="Welcome to Utah" width="320px">
                <figcaption>Welcome to Utah ⛷️</figcaption>
            </figure>
            <figure>
                <img src="../static/images/Wasatch_Back.jpg" alt="The Wasatch Back" width="320px">
                <figcaption>The Wasatch Back ⛰️</figcaption>
            </figure>
        </section>
    </main>
</body>

</html>