<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/CSS/style.css" type="text/css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <a href="/">Home 🏠</a>
        <h1>Big Mike's Website! 🌐</h1>
        <a href="/about">About ℹ️</a>
    </header>
    <main>
        <section class="center">
            <h1>Hello World! 🌎</h1>
            <br>
            <figure>
                <img src="../static/images/Green_River_Muletrain.jpg" alt="Green River" width="420px">
                <figcaption>Green River, Utah 🏜️</figcaption>
            </figure>
        </section>
    </main>
</body>

</html>

