<!-- error.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Error</title>
</head>

<body>
    <main>
        <section class="center">
            <h1 class="headline-h1">Oops! 🙃</h1>
            <br>
            <figure>
                <img src="../static/images/Error.jpg" alt="Error" width="500px" height="300px">
            </figure>
            <br>
            <h2>Wrong Username or Password.</h2>
            <br>
            <a class="back-button" href="/">⬅️ Back</a>
        </section>
    </main>
</body>

</html>

