<!-- logged_out.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Logged Out</title>
</head>

<body>
    <main>
        <section class="center">
            <h1 class="headline-h1">Goodbye! 🖐</h1>
            <br>
            <figure>
                <img src="../static/images/Logged_Out.jpg" alt="Logged Out" width="400px">
            </figure>
            <br>
            <h2>You have been logged out.</h2>
            <br>
            <a class="back-button" href="/">⬅️ Home</a>
        </section>
    </main>
</body>

</html>